<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shen.test.common.mapper.SysPermissionModuleMapper" >
  <resultMap id="BaseResultMap" type="com.shen.test.common.model.SysPermissionModule" >
    <id column="permission_module_id" property="permissionModuleId" jdbcType="VARCHAR" />
    <result column="permission_id" property="permissionId" jdbcType="VARCHAR" />
    <result column="module_id" property="moduleId" jdbcType="VARCHAR" />
    <result column="module_tree" property="moduleTree" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    permission_module_id, permission_id, module_id, module_tree
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shen.test.common.model.SysPermissionModuleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_permission_module
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_permission_module
    where permission_module_id = #{permissionModuleId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_permission_module
    where permission_module_id = #{permissionModuleId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.shen.test.common.model.SysPermissionModuleExample" >
    delete from sys_permission_module
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shen.test.common.model.SysPermissionModule" >
    insert into sys_permission_module (permission_module_id, permission_id, 
      module_id, module_tree)
    values (#{permissionModuleId,jdbcType=VARCHAR}, #{permissionId,jdbcType=VARCHAR}, 
      #{moduleId,jdbcType=VARCHAR}, #{moduleTree,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shen.test.common.model.SysPermissionModule" >
    insert into sys_permission_module
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="permissionModuleId != null" >
        permission_module_id,
      </if>
      <if test="permissionId != null" >
        permission_id,
      </if>
      <if test="moduleId != null" >
        module_id,
      </if>
      <if test="moduleTree != null" >
        module_tree,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="permissionModuleId != null" >
        #{permissionModuleId,jdbcType=VARCHAR},
      </if>
      <if test="permissionId != null" >
        #{permissionId,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null" >
        #{moduleId,jdbcType=VARCHAR},
      </if>
      <if test="moduleTree != null" >
        #{moduleTree,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shen.test.common.model.SysPermissionModuleExample" resultType="java.lang.Integer" >
    select count(*) from sys_permission_module
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_permission_module
    <set >
      <if test="record.permissionModuleId != null" >
        permission_module_id = #{record.permissionModuleId,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionId != null" >
        permission_id = #{record.permissionId,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleId != null" >
        module_id = #{record.moduleId,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleTree != null" >
        module_tree = #{record.moduleTree,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_permission_module
    set permission_module_id = #{record.permissionModuleId,jdbcType=VARCHAR},
      permission_id = #{record.permissionId,jdbcType=VARCHAR},
      module_id = #{record.moduleId,jdbcType=VARCHAR},
      module_tree = #{record.moduleTree,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shen.test.common.model.SysPermissionModule" >
    update sys_permission_module
    <set >
      <if test="permissionId != null" >
        permission_id = #{permissionId,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null" >
        module_id = #{moduleId,jdbcType=VARCHAR},
      </if>
      <if test="moduleTree != null" >
        module_tree = #{moduleTree,jdbcType=VARCHAR},
      </if>
    </set>
    where permission_module_id = #{permissionModuleId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shen.test.common.model.SysPermissionModule" >
    update sys_permission_module
    set permission_id = #{permissionId,jdbcType=VARCHAR},
      module_id = #{moduleId,jdbcType=VARCHAR},
      module_tree = #{moduleTree,jdbcType=VARCHAR}
    where permission_module_id = #{permissionModuleId,jdbcType=VARCHAR}
  </update>
</mapper>