<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shen.test.common.mapper.SysUserPermissionMapper" >
  <resultMap id="BaseResultMap" type="com.shen.test.common.model.SysUserPermission" >
    <id column="user_permission_id" property="userPermissionId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="permission_id" property="permissionId" jdbcType="VARCHAR" />
    <result column="module_id" property="moduleId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_permission_id, user_id, permission_id, module_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shen.test.common.model.SysUserPermissionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_user_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_user_permission
    where user_permission_id = #{userPermissionId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_user_permission
    where user_permission_id = #{userPermissionId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.shen.test.common.model.SysUserPermissionExample" >
    delete from sys_user_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shen.test.common.model.SysUserPermission" >
    insert into sys_user_permission (user_permission_id, user_id, permission_id, 
      module_id)
    values (#{userPermissionId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{permissionId,jdbcType=VARCHAR}, 
      #{moduleId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shen.test.common.model.SysUserPermission" >
    insert into sys_user_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userPermissionId != null" >
        user_permission_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="permissionId != null" >
        permission_id,
      </if>
      <if test="moduleId != null" >
        module_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userPermissionId != null" >
        #{userPermissionId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="permissionId != null" >
        #{permissionId,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null" >
        #{moduleId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shen.test.common.model.SysUserPermissionExample" resultType="java.lang.Integer" >
    select count(*) from sys_user_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_user_permission
    <set >
      <if test="record.userPermissionId != null" >
        user_permission_id = #{record.userPermissionId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionId != null" >
        permission_id = #{record.permissionId,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleId != null" >
        module_id = #{record.moduleId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_user_permission
    set user_permission_id = #{record.userPermissionId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      permission_id = #{record.permissionId,jdbcType=VARCHAR},
      module_id = #{record.moduleId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shen.test.common.model.SysUserPermission" >
    update sys_user_permission
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="permissionId != null" >
        permission_id = #{permissionId,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null" >
        module_id = #{moduleId,jdbcType=VARCHAR},
      </if>
    </set>
    where user_permission_id = #{userPermissionId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shen.test.common.model.SysUserPermission" >
    update sys_user_permission
    set user_id = #{userId,jdbcType=VARCHAR},
      permission_id = #{permissionId,jdbcType=VARCHAR},
      module_id = #{moduleId,jdbcType=VARCHAR}
    where user_permission_id = #{userPermissionId,jdbcType=VARCHAR}
  </update>
</mapper>